html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 95%;
    background-color: #ffffff;
    color: #000000;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.left-text{
    margin-right: auto;
}

.menu{
    margin-left: auto;
}

.menu-trigger{
     width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 5000 !important;
}

.menu-trigger:hover {
    background-color: #ffffff;
}

.menu-trigger:hover .dropdown{
    top: 0px;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 200px;
    background-color: rgb(156, 156, 156);
    transition: all 0.4s ease;
    padding: 40px;
}
.content {
    background-color: rgb(255, 255, 255);
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 1s ease;
}

.block-1 {
    background-image: url(https://live.staticflickr.com/5535/9414960825_a9ff09ba20_b.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    width: 32%;
    height: 400px;
    margin: 20px;
    border: 0px solid transparent;
    border-radius: 5%;
    transition: all 0.3 ease;
    place-items: center;
    font-size: 40px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.block-2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Arcades_du_Cinquantenaire%2C_Bruxelles.jpg/220px-Arcades_du_Cinquantenaire%2C_Bruxelles.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    width: 32%;
    height: 400px;
    margin: 20px;
    border: 0px solid transparent;
    border-radius: 5%;
    transition: all 0.3 ease;
    place-items: center;
    font-size: 40px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.block-3 {
    background-image: url(https://m.media-amazon.com/images/I/61hgWaDzq9L._AC_UF894,1000_QL80_.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    width: 32%;
    height: 400px;
    margin: 20px;
    border: 0px solid transparent;
    border-radius: 5%;
    transition: all 0.3 ease;
    place-items: center;
    font-size: 40px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}



.block-1:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.block-2:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.block-3:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

footer {
    background-color: #a8a8a8;
    color: #FFF;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}